body {
    background-color: beige;
    display: flexbox;
    flex-direction: row;
    align-items: left;
    justify-content: space-around;

.profile1 {

    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-left: 15px;
}

.wrapper {
    margin: 15px auto ;
}

  }